<!DOCTYPE html>
<html lang="en">
<div th:fragment="nav">
    <nav>
    <ul>
        <li>
            <a href="/"><h1>CodeFellowship</h1></a>
        </li>
        <li th:unless="${user}">
            <a href="/login">Log In</a>

        </li>
        <li th:unless="${user}">
            <a href="/signup">Sign Up</a>
        </li>

        <li th:unless="${user}">
            <a href="/myprofile">My Profile</a>
        </li>

        <li th:if="${user}">
            <a href="logout">Log Out <span th:text="${user.name}">username</span></a>
        </li>

    </ul>
    </nav>
</div>

</html>


