    <!DOCTYPE html>
    <html lang="en">
    <div th:fragment="nav">
    <nav th:if="${user}">
        <a href="/myprofile"><span th:text="${user.name}"></span></a>
        <a href="/"><h1>Codefellowship/Home</h1></a>
        <a href="/users"><h1>All Users</h1></a>
        <a href="/feed">My Feed</a>
        <a href="/logout">Log Out</a>

    </nav>

            <nav th:unless="${user}">
                <a href="/"><h1>Codefellowship/Home</h1></a>
                <a href="/login">Log In</a>
                <br>
                <a href="/signup">Sign up</a>

            </nav>

    </div>

    </html>

