    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>user</title>
    </head>
    <body>
    <div th:fragment="myprofile(userToProfile)">
        <a th:href="'/users/' + ${userToProfile.id}"><h1 th:text="${userToProfile.username}"></h1></a>
        <img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" alt="profile image"/>
        <h3> Full Name: <span th:text="${userToProfile.firstName}"></span>
        <span th:text="${userToProfile.lastName}"></span></h3>
        <h3> Birth Date: <span th:text="${userToProfile.dateOfBirth}"></span></h3>
        <h3> About Me: <span th:text="${userToProfile.bio}"></span></h3>
        <div th:if="${userToProfile.posts != null && userToProfile.posts.size() > 0}">
            <h3>Posts:</h3>
            <ul>
                <li th:each="post : ${userToProfile.posts}" th:text="'Created at ' + ${post.createdAt} + ': ' + ${post.content}">

                </li>
            </ul>
        </div>
    </div>

    </body>
    </html>
