<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
<header>
    <div th:include="fragments/nav :: nav"></div>
</header>
<h1>My Feed</h1>
<div th:each="post : ${loggedInUser.followedUsers}">
    <ul>
        <li>
            <a th:href="'/users/' + ${post.id}">
                <h3 th:text="${post.username}"></h3>
                <a/>

                    <li th:each="post : ${post.posts}" th:text=" 'Created at ' + ${post.createdAt} + ': ' + ${post.body}">

            </li>

    </ul>

</div>
</body>
</html>


