    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>

    </head>
    <body>
    <div>
        <header>
            <div th:replace="fragments/nav :: nav"></div>

        </header>
        <main>
            <br/>
            <h1>Sign up</h1>
            <br/>
            <form method="POST" action="/users">
                <label for="firstName">First Name: </label>
                <input type="text" name="firstName" id="firstName" />

                <label for="lastName">Last Name: </label>
                <input type="text" name="lastName" id="lastName" />

                <label for="username"> Username: </label>
                <input type="text" name="username" id="username" />

                <label for="password">Password: </label>
                <input type="password" name="password" id="password" />

                <label for="dateOfBirth">Date of Birth: </label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" />

                <label for="bio">Bio: </label>
                <input type="text" name="bio" id="bio" />

                <input type="submit" />

            </form>

        </main>
    </div>
    </body>
    </html>

