<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

</head>
<body>
<div>
    <header>
        <nav th:replace="fragments/nav :: nav">

<!--            <ul>-->
<!--                <li>-->
<!--                    <a href="/">CodeFellowship</a>-->
<!--                </li>-->
<!--                <li th:unless="${user}">-->
<!--                    <a href="/login">Log in</a>-->
<!--                </li>-->
<!--                <li th:unless="${user}">-->
<!--                    <a href="/signup">Sign up</a>-->
<!--                </li>-->
<!--                <li th:if="${user}">-->
<!--                    <a href="logout">Log out</a>-->
<!--                </li>-->
<!--            </ul>-->
        </nav>
    </header>
    <main>
        <br/>
        <h1>CodeFellowship</h1>
        <br/>
        <div>
            <div>
                <h1>Sign up</h1>
                <br/>
                <form method="POST" action="/users">
                    <ul>
                        <li>
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" id="firstName" />
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" id="lastName" />
        </li>

                        <li>
                            <label for="username"> Username: </label>
                            <input type="text" name="username" id="username" />
                            <label for="password">Password: </label>
                            <input type="password" name="password" id="password" />
                        </li>

                        <li>
                            <label for="dateOfBirth">Date of Birth: </label>
                            <input type="text" name="dateOfBirth" id="dateOfBirth" />
                        </li>

                        <li>
                            <label for="bio">Bio: </label>
                            <input type="text" name="bio" id="bio" />
                        </li>

                        <li>
                            <input type="submit" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>